# Run the python tests with no accessible gpus. This is how the Github Actions
# CI will be running.
test --test_env=CUDA_VISIBLE_DEVICES=-1
test --test_env=GOOGLE_APPLICATION_CREDENTIALS
test --discard_analysis_cache
