[submodule "third_party/vovnet"]
	path = third_party/vovnet
	url = https://github.com/alexwitt2399/vovnet
[submodule "third_party/efficientdet"]
	path = third_party/efficientdet
	url = https://github.com/alexwitt2399/efficientdet
