__pycache__

bazel-*

hawk_eye/data_generation/data
hawk_eye/data_generation/assets

build
dist
*.egg*

# Maybe left over from ./setup.py
hawk_eye/core/production_models

.DS_Store
.vscode

# Sphinx documentation
docs/_build/
